.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  background-position: center center;
  align-items: center;

}

.navLink {
  text-decoration: none;
  color: white;

  &:hover {
    color: #dcdcdc;
  }
}

.topLineVoid{
  height: 56px;
}
.backBackground{
  transition: 300ms background-color cubic-bezier(.23,.6,.24,.79);
  background-color: #000000;
}
.topLine {
  transition: 1s background-color cubic-bezier(.53,.39,.15,.84);
  position: fixed;
  top: 0;
  z-index: 1;

  display: flex;
  height: 56px;
  width: 100%;
  margin: 0 10px 0 10px;
  justify-content: space-between;


  &-leftSide {
    display: flex;
    &__logo {
      transition: transform 1s;
      padding: 0 10px 0 10px;

      &:hover {
        transition: transform 500ms;
        transform: scale(1.2);
      }

      img {
        width: 56px;
      }
    }

    &__txt {
      font-family: serif;
      font-size: 20px;
      color: white;
      padding: 18px;
      text-shadow: 3px 3px 5px #ffffff;
    }
  }

  &-rightSide {
    display: flex;
    flex-direction: row;

    &__txt {
      transition: all 800ms;
      color: white;
      padding: 20px;
      cursor: pointer;
      text-decoration: none;
      text-shadow: 2px 2px 4px #000000;

      &.active {
        transform: scale(1.2);
        text-shadow: 2px 2px 4px #ffffff;
      }
    }

    &__txt {
      &:hover {
        transition: all 100ms;
        transform: scale(1.2);
        text-shadow: 2px 2px 4px #ffffff;
      }

      &:active {
        transition: all 100ms;
        transform: scale(1.1);
      }

      &.active {
        &:active {
          transition: all 100ms;
          transform: scale(1.2);
        }
      }
    }
  }
}

.bottomLine {
  @media (max-width: 750px) {
    flex-direction: column;
  }
  display: flex;
  justify-content: space-between;
  width: 85%;

  &-leftSide {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-grow: 2;
    &__text {
      display: flex;
      font-family: cursive;
      font-size: 110px;
      color: white;
      font-weight: bold;
      font-style: italic;
      text-shadow: 5px 9px 14px #000000;
    }
  }

  &-rightSide {
    display: flex;
    justify-content: center;
    align-self: center;
    &__img {
      img {
        max-width: 200px;
        max-height: 200px;
      }
    }
  }
}